{
    "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "bracketSpacing": true,
    "arrowParens": "always",
    "astroAllowShorthand": false,
    "tailwindConfig": "./tailwind.config.mjs",
    "overrides": [
        {
            "files": "*.astro",
            "options": {
                "parser": "astro"
            }
        }
    ]
}
