---
import { isUrl, formatPathOrURL } from "../utilities";
interface Props {
    title: string;
    image?: string;
}

const { title, image } = Astro.props;

let imageUrl = image;

if (!imageUrl) {
    // default image if none is specified
    imageUrl = formatPathOrURL(Astro.url.origin, "/images/banner-background-2.jpg");
} else if (isUrl(imageUrl)) {
    imageUrl = imageUrl;
} else {
    imageUrl = formatPathOrURL(Astro.url.origin, imageUrl);
}
---

<div class="flex min-h-48 min-w-full items-center justify-center bg-banner bg-cover bg-center bg-no-repeat text-white">
    <h1 class="text-3xl font-semibold lg:text-5xl">{title}</h1>
</div>
