---
interface Props {
    title?: string;
}

const { title } = Astro.props;
---

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />

    <title>{title || "SMP Negeri 2 Sambit"}</title>
  </head>