---
import Brand from "./navbar/Brand.astro";
import Navigation from "./navbar/Navigation.astro";
import Link from "./navbar/Link.astro";
import Dropdown from "./navbar/Dropdown.astro";
---

<nav
    class="bg-navbar text-navbar z-50 flex w-full flex-col flex-wrap px-4 lg:flex-row lg:flex-nowrap lg:items-center lg:px-28"
>
    <Brand />
    <Navigation>
        <Link name="Home" redirect="/" />
        <Link name="Berita" redirect="/berita" />
        <Dropdown name="Dropdown">
            <Link dropdown name="asdasdasdasd" redirect="#" />
            <Link dropdown name="Test" redirect="#" />
        </Dropdown>
    </Navigation>
</nav>
