---
import "../main.css";
import Head from "../components/base/Head.astro";
import Body from "../components/base/Body.astro";

interface Props {
    title?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="id">
    <Head>
        <title>{title}</title>
        <meta property="og:title" content={title} />

        <meta name="theme-color" content={"#0f172a"} data-react-helmet="true" />
    </Head>
    <Body>
        <slot />
    </Body>
</html>
